.cell-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

.header_action {
    @apply text-description;
}

.cell {
    @apply px-2 cursor-pointer ease-linear duration-200 hover:bg-slate-50 rounded-md;
}

.cell + .cell {
    border-top-width: 1px;
    border-color: rgb(226 232 240);
}

.cell-tag {
    display: none;
}

.cell:hover {
    .cell-tag {
        display: inline-block;
    }
}

.user-avatar + .user-avatar {
    margin-top: 0.5rem;
}
