.prevArrow::before,
.nextArrow::before {
    content: '';
}

.prevArrow,
.nextArrow {
    width: 2rem !important;
    height: 2rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: rgb(14 165 233) !important;

    span {
        color: black !important;
        font-size: 14px;
    }
}

.slick-slider {
    margin: 0 1.5rem !important;
    padding: 0 1rem !important;
}
